*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    line-height: 22px;
}

input{
    padding: 5px;
    margin: 5px 15px;
}

button{
    padding: 10px;
    border-radius: 4px ;
    border: 1px solid transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}
select {
    padding: 5px;
    margin: 5px 0;
}
.bai__tap{
    width: 50%;
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px;
}
.bai__tap:nth-child(2n){
    background-color: #ccc;
    border-radius: 4px;
}
img {
    width: 300px;
    display: none;
}
h1{
    font-size: 22px;
    margin-bottom: 4px;
}
.none{
    visibility: hidden;
}




